[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
freezegun = "*"
pycodestyle = "*"
ipdb = "*"
pylint = "*"
pytest-django = "*"
model-mommy = "*"
beautifulsoup4 = "*"
black = "*"
faker = "*"
pytest-cov = "*"
pytest-xdist = "*"
dictdiffer = "*"
pytest-dotenv = "*"
pytest-icdiff = "*"
dj-inmemorystorage = "*"
django-webtest = "*"

[packages]
django = "==3.0.6"
django-filter = "*"
djangorestframework = "==3.11.0"
markdown = "*"
djangorestframework-jwt = "*"
django-anymail = {extras = ["mailgun"],version = "*"}
django-taggit = "*"
django-taggit-serializer = "*"
djangorestframework-simplejwt = "*"
google-cloud-datastore = "*"
django-cors-headers = "*"
drf-nested-routers = "*"
python-dateutil = "*"
google-cloud-storage = "*"
retrying = "*"
google-cloud-tasks = "==1.5.0"
jinja2 = "*"
trans = "*"
django-model-utils = "*"
psycopg2-binary = "*"
django-reversion = "*"
django-cacheops = "*"
django-countries = "*"
google-cloud-logging = "*"
googlemaps = "*"
dictdiffer = "*"
coreapi = "*"
pygments = "*"
loguru = "*"
django-request-logging = "*"
djangorestframework-camel-case = "*"
django-environ = "*"
django-split-settings = "*"
django-storages = "*"
pillow = "*"
mangopaysdk = "==3.7.*"
sentry-sdk = "*"
django-tinymce = "*"
django-admin-tools = "*"
django-admirarchy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
