{% extends 'documents/_base.html' %}

{% block body %}
    <div class="child-div" style="margin-top: 4rem;">
            <div class="child" style="width: 100%;">
                <h2>{% block document_title %}Rechnung{% endblock %}</h2>
            </div>
            <div class="child" style="width: 100%;">
                <span>für Ihre Bestellung mit der Bestellnr. {{ order.id }} vom {{ order.created_at.strftime('%d.%m.%Y') }}.</span>
                {% block invoice_notice %}{% endblock %}
            </div>
        </div>
        <div class="child-div" style="margin-top: 2rem;">
            <div class="child">
                <table style="border-spacing: 0;">
                    {% block table_head %}
                    {% endblock %}
                    <tbody>
                        {% block items %}
                            {% block table_rows %}
                            {% endblock %}
                            <tr id="last" class="align-right">
                                <td colspan="2">
                                </td>
                                <td colspan="5">
                                    {# Net sum by category #}
                                    {% for category in document.lines|groupby('category')|reverse %}
                                        <div class="child-div lastest">
                                            <div class="child" style="width: 50%">Summe {{ category.grouper|capitalize }} Netto</div>
                                            <div class="child" style="width: 50%">{{ CURRENCY_SYMBOL }} {{ category.list|sum_lines_net_price|format_price }}</div>
                                        </div>
                                    {% endfor %}

                                    {# VAT amount by rate #}
                                    {% for group in document.lines|groupby('vat_rate') %}
                                        <div class="child-div lastest">
                                            <div class="child" style="width: 50%">
                                            <!-- sub of prices with vat -->
                                                <span class="label sum-net">
                                                    {{ group.grouper|format_price }}% USt. auf {{ CURRENCY_SYMBOL }}
                                                    {{ group.list|sum_lines_net_price|format_price }}
                                                </span>
                                            </div>
                                            <!-- sum of vat value for all items -->
                                            <div class="child sum-vat-amount" style="width: 50%">
                                                <span class="label">{{ CURRENCY_SYMBOL }}
                                                    {{ group.list|sum_lines_vat|format_price }}
                                                </span>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="child-div lastest">
                                        <div class="child" style="width: 50%">
                                            <strong>Endsumme</strong>
                                        </div>
                                        <div class="child" style="width: 50%">
                                            <strong>{{ CURRENCY_SYMBOL }} {{ document.price_gross|format_price }}</strong>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        {% endblock items %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}}
